body{
    background:linear-gradient(to right, white, white, white);
}

.blue{
    color: blue;
    font-size: 5rem;
}
.red{
    color: red;
    font-size: 3rem;
}

.green{
    color: rgb(6, 250, 14);
    font-size: 4rem;
}

.yellow{
    color: yellow;
    font-size: 3rem;
}

.search-bar{
    border: 1px solid black;
    width: 30%;
    padding: 5px;
    margin:0px;
}
.search-google{
margin: 120px;
color: black;
background-color: white;
}
.search-bar:focus{
    outline: none;
}
.search-placeholder{
    border: 1px solid black;
    margin:0px;
    padding: 3px;
    

}
.search-placeholder:focus{
    outline: none;
    background-color: white;
}
.search-placeholder::placeholder{
    color: black;
}
.google-more{
    margin: 120px;
}
.copyright{
    text-indent: 20px;
}
.blue2{
    background-color: blue;
    font-size: 5rem;
}